.header {
    background-color: transparent;
    min-height: unset;
    position: absolute;
    z-index: 99;
    transition: background-color 200ms linear;
}

.header.active {
    position: fixed;
    top: 0;
    background-color: var(--white);
    transition: background-color 200ms linear;
}

.header.active .topnav-content-sm svg {
    fill: var(--black);
}

.header.active .container .nav {
    color: var(--black);
}

.header.active .btn {
    color: var(--white);
    background-color: var(--primary);
    border-color: var(--primary);
}

.header .row {
    width: 100%;
    min-height: unset;
    align-items: center;
    justify-content: flex-end;
    padding: 10px 30px;
    margin: 0 auto;
    background-color: transparent;
}

.header .logo,
.footer .logo {
    width: 150px;
}

.header .nav-logo {
    margin-right: auto;
}

.header .container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 40px;
}

.header .container .nav {
    color: var(--white);
    font-weight: 600;
    text-decoration: none;
    text-transform: uppercase;
    opacity: 1;
    transition: var(--transition);
}

.header .container .nav:hover {
    transition: var(--transition);
}

.header .primary-btn {
    margin-top: 0;
}

.header .topnav-content-sm {
    display: none;
}

.header .small-menu-wrapper {
    display: none;
}

.nav {
    position: relative;
    text-decoration: none;
    padding-bottom: 5px;
}

.nav::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--white);
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

.header .nav::before {
    background-color: var(--white);
}

.nav:hover::before {
    transform: scaleX(1);
}

.footer {
    min-height: unset;
    color: var(--white);
    background-color: var(--black);
}

.footer .row {
    min-height: unset;
    justify-content: space-between;
    align-items: center;
    margin: 30px auto;
    padding: 0 30px;
}

.footer-container {
    display: flex;
    flex-direction: column;
}

.socials {
    display: flex;
    gap: 10px;
    margin-top: 20px;
}

.socials a {
    font-size: 24px;
}

.socials img {
    max-width: 30px;
    transition: var(--transition);
}

.socials img:hover {
    transform: scale(1.10);
    transition: var(--transition);
}

.made-by {
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding: 10px;
}

.made-by p,
.made-by a {
    color: var(--white);
    opacity: 0.7;
    transition: var(--transition);
}

.made-by a:hover {
    opacity: 1;
    transition: var(--transition);
}

@media (max-width: 560px) {
    .header .row {
        display: none;
    }

    .header .topnav-content-sm {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 30px;
    }

    .header .small-menu-content {
        display: flex;
        flex-direction: column;
        padding: 10px 30px;
        background-color: var(--white);
    }


    .header .topnav-content-sm svg {
        fill: var(--primary);
        width: 25px;
    }

    .header .topnav-content-sm svg:hover {
        cursor: pointer;
    }

    .header .logo,
    .footer .logo {
        width: 100px;
    }
}