.banner {
    justify-content: center;
    height: 70vh;
    background-image: url('/home/img/banner.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: relative;
}

.banner .row {
    color: var(--white);
    z-index: 10;
}

.banner.section .row.flex-col.center {
    gap: 0;
}

.banner h1,
.banner p {
    max-width: 55%;
}

.banner .overlay {
    opacity: 0.8;
}

@media (max-width: 560px) {
    .banner {
        height: fit-content;
    }

    .banner h1,
    .banner p {
        width: 100%;
    }
}